[Unit]
Description=Prometheus exporter for podman (v4) machine
[Service]
Restart=on-failure
ExecStart=/usr/bin/prometheus-podman-exporter --collector.enable-all
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=20s
SendSIGKILL=no
[Install]
WantedBy=multi-user.target
