[Unit]
Description=Prometheus exporter for podman (v4) machine
[Service]
Restart=on-failure
EnvironmentFile=-/etc/sysconfig/prometheus-podman-exporter
ExecStart=/usr/bin/prometheus-podman-exporter $PODMAN_EXPORTER_OPTS
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=20s
SendSIGKILL=no
[Install]
WantedBy=multi-user.target
